{{> navigation/navigation}}
<div class="content">
  <div class="focused-content">
    <div class="focused-content__close">
      <a href="/user/{{user._id}}"><i class="fas fa-times"></i></a>
    </div>
    <h1 class="focused-content__title">Update Profile</h1>
    <div class="focused-content__action">
      <form action="/user/{{user._id}}" method="POST" id="form" class="form" enctype="multipart/form-data">
        <div class="form__group">
          <label for="profilePhoto">Profile Photo</label>
          <input id="profilePhoto" type="file" name="profilePhoto">
        </div>
        {{#if message }}
          <div class="form__message">{{ message }}</div>
        {{/if}}
        <div class="form__submitting">
          <button class="button button--send" type="submit">Update</button>
          {{!-- <a href="/user/{{user._id}}" class="button button--send">Update</a> --}}
        </div>
      </form>
      <a href="/user/{{user._id}}" class="button">Cancel</a>
    </div>
  </div>
</div>