<div class="album">
  <a href="/album/{{album._id}}">
    <h2 class="album__title">{{album.name}}</h2>
    <img src={{album.albumPhoto}} alt="Test 1" class="album__image">
      <a href="{{starturl}}{{id}}{{endurl}}" class="button button--send">Change Cover</a>
  </a>
</div>


